version: '3'

services:
  nginx:
    image: nginx:latest
    container_name: webapp-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./data:/var/www/html
    depends_on:
      - php
      - mysql

  php:
    build: .
    container_name: webapp-php
    volumes:
      - ./data:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: webapp-mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ db_root_pass }}
      MYSQL_DATABASE: {{ db_name }}
      MYSQL_USER: {{ db_user }}
      MYSQL_PASSWORD: {{ db_pass }}
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
