<?php
$host = '{{ db_host }}';
$user = '{{ db_user }}';
$pass = '{{ db_pass }}';
$db = '{{ db_name }}';

$conn = new mysqli($host, $user, $pass, $db);

if ($conn->connect_error) {
    die("Oops! Connection failed: " . $conn->connect_error);
}

echo "Hello Effective Mobile team! PHP Connected to MySQL successfully";

$conn->close();
?>
