events {
    worker_connections 1024;
}

http {
    server {
        listen 80;
        server_name {{ server_name }};

        root /var/www/html;
        index index.php;

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
            include fastcgi_params;
            fastcgi_pass php:9000;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        }

        access_log /var/log/nginx/access.log;
        error_log /var/log/nginx/error.log;

        location ~ /\.ht {
            deny all;
        }
    }
}
